@import '../../variables.scss';

.nav-link {
    font-size: small;
}
.copyright{
    margin-bottom: 8px;
    color: $text-color-secondary-light;
}

.copyright,
.agreements{
    font-size: 12px;
    padding-top: 16px;
}