@import "/src/variables.scss";
.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.name {
  font-family: 'Roboto-Regular';
  margin-top: 8px;
}

.position {
  font-family: 'Roboto-Regular';
  color: $text-color-secondary;
  margin-top: 8px;
}

.contacts {
  margin-top: 12px;
}