@import '../../../variables.scss';
p,
h3 {
    display: block;
    margin-block-start: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 8px;
}

.case_icons {
    padding-bottom: 16px;
}

h6 {
    color: $text-color-secondary-light;
}