<h2>О нас</h2>
<div
    class="members d-flex flex-column align-items-start flex-sm-row justify-content-center gap-4">
    <iframe class="video" src="https://www.youtube.com/embed/x8yctpbEhdU?si=2GJi0LBw0t9MN9Dj" frameborder="0"
        allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <div class="vk-post" id="vk_post_-50051746_40890"></div>
    <!-- <img class="photo" src="../../assets/photos/lct2023.jpg" /> -->
</div>