<header class="d-flex flex-wrap align-items-center justify-content-center py-3">
  <div class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <img class="img-fluid rounded d-none d-sm-block" width="200" height="32" src="../../assets/logo.png" aria-label="logo" />
  </div>

  <ul class="nav col-12 col-md-8 justify-content-center">
    <li><a href="#team" class="nav-link link-light">Команда</a></li>
    <li><a href="#cases" class="nav-link link-light">Кейсы</a></li>
    <li><a href="#about" class="nav-link link-light">О нас</a></li>
    <li><a href="#contacts" class="nav-link link-light">Контакты</a></li>
  </ul>

</header>