*,
*:before,
*:after {
    box-sizing: inherit;
}

.timeline-container {
    margin: auto;
    padding: 0.01em 16px;
    width: 90%;
}

/* Styles for even items */
.zigzag-timeline__item:nth-child(2n) {
    border-left: 1px solid;
}

.zigzag-timeline__item:nth-child(2n) .zigzag-timeline__milestone {
    left: 0;
    transform: translate(-50%, -50%);
}

/* Styles for odd items */
.zigzag-timeline__item:nth-child(2n + 1) {
    border-right: 1px solid;
}

.zigzag-timeline__item:nth-child(2n + 1) .zigzag-timeline__milestone {
    right: 0;
    transform: translate(50%, -50%);
}

.zigzag-timeline__item {
    position: relative;
    border-bottom: 1px solid;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
}

.zigzag-timeline__milestone {
    position: absolute;
    top: 20%;
    border-radius: 50%;
    background: #D9D9D9;
    padding: 20px;
    z-index: -1;
}

h2 {
    text-align: center;
    margin-bottom: 32px;
}