<h2>Кейсы</h2>
<div class="timeline-container">

    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="Хакатон Труда" Date="07.2020"
            Description="Разработка функционального мобильного приложение для иностранных трудовых мигрантов"></app-case>
    </div>

    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="Цифровой прорыв (Полуфинал 2020)" Date="10.2020"
            Description="Saferoute – сервис для лиц с ограниченными возможностями и волонтеров, направленный на беспрепятственное передвижение в городской среде"
            Award="https://youtu.be/0F-496fNUq4?list=PLnMQIDHaX5cbRSyZfsyik5u4A8YOhhhcY&t=30788"
            YouTube="https://youtu.be/MsBcxon9Ktw?list=PLnMQIDHaX5cabyJpfPK55qfn08im5bEnQ&t=2691"
            GitHub="LeadersOfDigital" Drive="https://disk.yandex.ru/i/yiRi9P4WJ3U5nQ"></app-case>
    </div>

    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="Цифровой прорыв (Финал 2020)" Date="11.2020"
            Description="SpAIk - кроссплатформенное мобильное приложение для улучшения разговорных навыков на основе искусственного интеллекта"
            YouTube="https://youtu.be/3ilIADTxWMo?t=5523" GitHub="LeadersOfDigitalFinals"></app-case>
    </div>

    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="Цифровой прорыв (Полуфинал 2021)" Date="10.2021" YouTube="https://youtu.be/wGaUef44ZAE?t=8090"
            Description="SelfTrip - мобильное приложение для путешественников" GitHub="LeadersOfDigital2210"
            Award="https://youtu.be/1VRDCmi5htg?list=PLnMQIDHaX5cag9QT-Mbaaoj3_PnZ8aA2P&t=3833"
            Drive="https://disk.yandex.com/i/L2EhnzpIXLNOcg"></app-case>
    </div>

    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="Цифровой прорыв (Финал 2021)" Date="12.2021"
            Description="Metaverse - Сервис для поиска и отслеживания своего цифрового двойника"
            YouTube="https://youtu.be/uAlEvEO55vc?list=PLnMQIDHaX5cYSGI0wOSRgj7RBTDDMPJXt&t=4794"
            Award="https://youtu.be/zYyybzkwRoo?list=PLnMQIDHaX5caZExQafkOy4t4VfnztR73L&t=11567"
            GitHub="LodFinals2021"></app-case>
    </div>

    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="Лидеры Цифровой Трансформации" Date="07.2023"
            Description="Мобильное приложение для образования в сфере искусства" GitHub="Lct2023"
            Drive="https://disk.yandex.ru/d/cgqwC5OehWgy3g" YouTube="https://youtu.be/B6GDB8MQZyU?t=3621"
            Award="https://youtu.be/lajwW6AF274?t=6239"></app-case>
    </div>

</div>