<h2>Кейсы</h2>
<div class="timeline-container">
    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="07.2020 Хакатон Труда"
            Description="Разработка функционального мобильного приложение для иностранных трудовых мигрантов"></app-case>
    </div>
    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="10.2020 Цифровой прорыв (Полуфинал 2020)"
            Description="Saferoute – сервис для лиц с ограниченными возможностями и волонтеров, направленный на беспрепятственное передвижение в городской среде"
            GitHub="LeadersOfDigital"
            Drive="https://disk.yandex.ru/i/yiRi9P4WJ3U5nQ"></app-case>
    </div>
    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="11.2020 Цифровой прорыв (Финал 2020)"
            Description="SpAIk - кроссплатформенное мобильное приложение для улучшения разговорных навыков на основе искусственного интеллекта"
            GitHub="LeadersOfDigitalFinals"></app-case>
    </div>
    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="10.2021 Цифровой прорыв (Полуфинал 2021)"
            Description="SelfTrip - мобильное приложение для путешественников" GitHub="LeadersOfDigital2210" Drive="https://disk.yandex.com/i/L2EhnzpIXLNOcg"></app-case>
    </div>
    <div class="zigzag-timeline__item">
        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="12.2021 Цифровой прорыв (Финал 2021)"
            Description="Metaverse - Сервис для поиска и отслеживания своего цифрового двойника"
            GitHub="LodFinals2021"></app-case>
    </div>

    <div class="zigzag-timeline__item">

        <div class="zigzag-timeline__milestone"></div>
        <app-case Title="07.2023 Лидеры Цифровой Трансформации"
            Description="Мобильное приложение для образования в сфере искусства" GitHub="Lct2023" Drive="https://disk.yandex.ru/d/cgqwC5OehWgy3g"></app-case>
    </div>
</div>