<div class="timeline-container">
    <div class="zigzag-timeline__item">
        <h3>07.2020 Хакатон Труда</h3>
        <div class="zigzag-timeline__milestone"></div>
        <p>Разработка функционального мобильного приложение для иностранных трудовых мигрантов</p>
        <p>Центр трудовых ресурсов при поддержке Комитета по труду и занятости населения Санкт-Петербурга проводит
            Хакатоны Труда.</p>
        <p>В период пандемии одна из наиболее пострадавших отраслей экономики — это сфера труда и занятости. Поэтому
            сегодня необходимо направить усилия на создание условий безболезненной стабилизации последствий коронавируса
            для этой сферы.</p>
    </div>
    <div class="zigzag-timeline__item">
        <h3>10.2020 Цифровой прорыв (Полуфинал 2020)</h3>
        <div class="zigzag-timeline__milestone"></div>
        <p>Многофункциональная платформа для улучшения качества жизни в городской среде маломобильных групп населения
        </p>
    </div>
    <div class="zigzag-timeline__item">
        <h3>11.2020 Цифровой прорыв (Финал 2020)</h3>
        <div class="zigzag-timeline__milestone"></div>
        <p>Разработка приложения, улучшающего разговорные навыки пользователя, изучающего иностранный язык онлайн</p>
    </div>
    <div class="zigzag-timeline__item">
        <h3>10.2021 Цифровой прорыв (Полуфинал 2021)</h3>
        <div class="zigzag-timeline__milestone"></div>
        <p>Разработка мобильного приложения путешественника</p>
    </div>
    <div class="zigzag-timeline__item">
        <h3>12.2021 Цифровой прорыв (Финал 2021)</h3>
        <div class="zigzag-timeline__milestone"></div>
        <p>Сервис поиска и отслеживания своего цифрового двойника</p>
    </div>
    <div class="zigzag-timeline__item">
        <h3>07.2023 Лидеры Цифровой Трансформации</h3>
        <div class="zigzag-timeline__milestone"></div>
        <p>Мобильное приложение для образования в сфере искусства</p>
    </div>
</div>