@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/assets/font/Roboto-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/assets/font/Roboto-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('/assets/font/Roboto-Thin.ttf');
    font-display: swap;
}

body {
    font-family: 'Roboto-Regular';
}

body,
html {
    height: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 32px;
}