
<div class="d-flex flex-column align-items-center flex-sm-row align-items-sm-start justify-content-sm-around gap-4">
    <app-member avatarName="avatar" Name="Женя&nbsp;Шевцов" Position="UI/UX Designer"></app-member>
    <app-member avatarName="avatar" Name="Сергей&nbsp;Колчин" Position="Developer/DevOps"></app-member>
    <app-member avatarName="avatar" Name="Дмитрий&nbsp;Орденов" Position="Developer"></app-member>
    <app-member avatarName="avatar" Name="Андрей&nbsp;Макаров" Position="Developer"></app-member>
</div>