<h2>Команда</h2>
<div class="members d-flex flex-column align-items-center flex-sm-row align-items-sm-start justify-content-sm-around gap-4">
    <app-member avatarName="avatar" Name="Женя&nbsp;Шевцов" Position="UI/UX Designer" Telegram="rvrsrec"
        LinkedIn="rvrsrec"></app-member>
    <app-member avatarName="avatar" Name="Сергей&nbsp;Колчин" Position="Developer/DevOps" Telegram="swamp1820"
        Github="swamp1820" LinkedIn="kolchinsergey"></app-member>

</div>
<div class="members d-flex flex-column align-items-center flex-sm-row align-items-sm-start justify-content-sm-around gap-4">
    <app-member avatarName="avatar" Name="Дмитрий&nbsp;Орденов" Position="Developer" Telegram="monteybb"
        Github="DimaOrdenov" LinkedIn="daordenov"></app-member>
    <app-member avatarName="avatar" Name="Андрей&nbsp;Макаров" Position="Developer" Telegram="mak100un"
        Github="mak100un" LinkedIn="andrew-a-makarov"></app-member>
</div>